*{
	box-sizing: border-box;
}


/*CSS Fuente Google Fonts Chakra Petch Static*/

.chakra-petch-light {
	font-family: "Chakra Petch", sans-serif;
	font-weight: 300;
	font-style: normal;
  }
  
  .chakra-petch-regular {
	font-family: "Chakra Petch", sans-serif;
	font-weight: 400;
	font-style: normal;
  }
  
  .chakra-petch-medium {
	font-family: "Chakra Petch", sans-serif;
	font-weight: 500;
	font-style: normal;
  }
  
  .chakra-petch-semibold {
	font-family: "Chakra Petch", sans-serif;
	font-weight: 600;
	font-style: normal;
  }
  
  .chakra-petch-bold {
	font-family: "Chakra Petch", sans-serif;
	font-weight: 700;
	font-style: normal;
  }
  
  .chakra-petch-light-italic {
	font-family: "Chakra Petch", sans-serif;
	font-weight: 300;
	font-style: italic;
  }
  
  .chakra-petch-regular-italic {
	font-family: "Chakra Petch", sans-serif;
	font-weight: 400;
	font-style: italic;
  }
  
  .chakra-petch-medium-italic {
	font-family: "Chakra Petch", sans-serif;
	font-weight: 500;
	font-style: italic;
  }
  
  .chakra-petch-semibold-italic {
	font-family: "Chakra Petch", sans-serif;
	font-weight: 600;
	font-style: italic;
  }
  
  .chakra-petch-bold-italic {
	font-family: "Chakra Petch", sans-serif;
	font-weight: 700;
	font-style: italic;
  }
  
  
  

:root{
	--main-bg-color: #EDE1D2;
	--secondary-bg-color: #CBB89D;
	--main-text-color: #6A6F4C;
	--secundary-text-color: #806044;
	--bs-body-color-rgb: 203, 184, 157;
}

/* Clases propias*/

.text-main-color{
	color: var(--main-text-color);
}

.text-secundary-color{
	color: var(--secundary-text-color);
}

.bg-main{
	background-color: #EDE1D2;
}

.bg-secundary{
	background-color: #CBB89D;
}

.bg-2{
	background-color: rgb(203, 184, 157)!important;
}

.vh-50{
	height: 50vh;
}

.vh-40{
	height: 40vh;
}

.vh-75{
	height: 75vh;
}

.vw-30{
	width: 30vw;
}
.top-25{
	top:25% !important;
}

.start-80{
	left: 80% !important;
}

.svg-clases{
	width: 50px;
	height: 50px;
}

.w-20{
	width: 20% !important;
}

.w-60{
	width: 60% !important;
}

.nav-a{
	color: var(--main-text-color);
	font-size: 1.2rem;
	border-radius: 10%;
	font-family: "Chakra Petch", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.nav-a:hover{
	background-color: var(--main-bg-color);
}




/*Estilos generales - DE MOMENTO PROVISIONALES*/

body{
	margin: 0 auto;
	background: var(--main-bg-color);
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

main{
	padding: 100px !important;
}

.section{
	margin-bottom: 200px;
}

a{
	text-decoration: none;
}

/*header{
	position: sticky;
	z-index: 3;
	top: 0;
	height: 100px;
	background: var(--secondary-bg-color);
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;

}*/

#logo{
	width: 20%;
	text-align: center;
}

#logo img{
	width: 100px;
	height: 10vh;
}

/*nav{
	width: 60%;
	
}
nav ul{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	list-style: none;
}
nav a{
	color: var(--main-text-color);
	font-size: 1.2rem;
	padding: 1rem;
	border-radius: 10%;
	font-family: "Chakra Petch", sans-serif;
	font-weight: 700;
	font-style: normal;
}

nav a:hover{
	background-color: var(--main-bg-color);
}

.hero-image{
	background-image: url(src/img/hero-image.jpg)center/cover;
	height: 85vh;
	width: 100vw;
}*/

/**Estilos carrito offcanvas**/

.carrito {
	position: fixed;
	top: 0;
	right: -500px; /* Oculto inicialmente fuera de la vista */
	width: 500px;
	height: 100%;
	background-color: #f8f8f8;
	box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
	transition: right 0.3s ease;
	padding: 20px;
	overflow-y: auto;
	z-index: 2000;
}
.carrito.abierto {
	right: 0; /* Muestra el carrito cuando est치 abierto */
}
.carrito-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}
.carrito-header h2 {
	margin: 0;
}
.carrito-body {
	margin-top: 20px;
}
.carrito-footer {
	border-top: 1px solid #ddd;
	padding-top: 10px;
	margin-top: 20px;
	text-align: center;
}

.btn-close {
	background-color: #dc3545;
}

/*CLASES PARA LA HERO IMG*/
.hero {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.hero-img {
    width: 100%;
    max-height: 60vh; /* Controla la altura m치xima de la imagen */
    object-fit: cover; /* Asegura que la imagen se recorte para cubrir el 치rea */
    display: block;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Opcional: para un efecto de superposici칩n oscura */
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
}


